In [2]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [4]:
# Load the JSON data from a file
with open('LA_regional_tournament_data.json') as file:
    data = json.load(file)

In [6]:
pokemon_section = data['pokemon']

In [8]:
labmaus_la_df = pd.DataFrame(pokemon_section)

In [9]:
labmaus_la_df.head(10)

,advance_rate,appearances,id,placement,pokemon,rank,score,usage,win_rate
0,100.0%,250,727,1,Incineroar,1,956-981,40.87%,49.35%
1,100.0%,183,812,1,Rillaboom,2,737-701,29.92%,51.25%
2,100.0%,167,641,1,Tornadus,3,615-664,27.3%,48.08%
3,100.0%,162,892-r,1,Urshifu Rapid Strike,4,608-636,26.49%,48.87%
4,100.0%,161,987,6,Flutter Mane,5,646-611,26.32%,51.39%
5,100.0%,135,1021,2,Raging Bolt,6,601-514,22.07%,53.9%
6,100.0%,135,591,2,Amoonguss,7,526-500,22.07%,51.27%
7,100.0%,130,547,6,Whimsicott,8,538-499,21.25%,51.88%
8,100.0%,119,981,9,Farigiraf,9,462-463,19.46%,49.95%
9,100.0%,111,1004,6,Chi Yu,10,537-406,18.15%,56.95%

In [13]:
two_mon_combination_section = pd.DataFrame(data['composition']['combinations2'])

In [14]:
two_mon_combination_section.head(10)

   id pokemon1Id pokemon2Id   usage
0   1        727        812   13.4%
1   1        727      892-r   13.4%
2   1        591        727  12.58%
3   1       1021        727  11.93%
4   1       1008        547  11.76%
5   1        641      892-r  10.62%
6   1       1008        981  10.62%
7   1        641        727   9.48%
8   1        641        987   9.48%
9   1        547        981   9.31%

In [18]:
pokemon1_name_df = two_mon_combination_section.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon1Id", right_on="id").rename(columns={'pokemon':'pokemon1_name'})

In [19]:
pokemon1_name_df.head(10)

   id_x pokemon1Id pokemon2Id   usage id_y pokemon1_name
0     1        727        812   13.4%  727    Incineroar
1     1        727      892-r   13.4%  727    Incineroar
2     1        727      898-i   8.17%  727    Incineroar
3     1        727        981   7.84%  727    Incineroar
4     1        727        987   7.35%  727    Incineroar
5     1        727      901-b   6.21%  727    Incineroar
6     1        591        727  12.58%  591     Amoonguss
7     1        591        987   7.52%  591     Amoonguss
8     1        591      892-r   7.35%  591     Amoonguss
9     1        591        641   7.35%  591     Amoonguss

In [20]:
pokemon2_name_df = pokemon1_name_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon2Id", right_on="id").rename(columns={'pokemon':'pokemon2_name'})

In [21]:
pokemon2_name_df.head(10)

,id_x,pokemon1Id,pokemon2Id,usage,id_y,pokemon1_name,id,pokemon2_name
0,1,727,812,13.4%,727,Incineroar,812,Rillaboom
1,1,1021,812,6.54%,1021,Raging Bolt,812,Rillaboom
2,1,641,812,8.33%,641,Tornadus,812,Rillaboom
3,1,279,812,8.17%,279,Pelipper,812,Rillaboom
4,1,1002,812,7.52%,1002,Chien Pao,812,Rillaboom
5,1,727,892-r,13.4%,727,Incineroar,892-r,Urshifu Rapid Strike
6,1,591,892-r,7.35%,591,Amoonguss,892-r,Urshifu Rapid Strike
7,1,1021,892-r,6.21%,1021,Raging Bolt,892-r,Urshifu Rapid Strike
8,1,641,892-r,10.62%,641,Tornadus,892-r,Urshifu Rapid Strike
9,1,812,892-r,8.99%,812,Rillaboom,892-r,Urshifu Rapid Strike

In [23]:
final_2_mon_composition_df = pokemon2_name_df[["pokemon1_name", "pokemon2_name","usage"]]

In [31]:
final_2_mon_composition_df.rename(columns={'usage':'usage_%'}, inplace=True)

C:\Users\kevin\opencv\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
# Remove the '%' symbol and convert to float
final_2_mon_composition_df["usage_%"] = final_2_mon_composition_df["usage_%"].str.replace('%', '').astype(float)

C:\Users\kevin\opencv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
final_2_mon_composition_df.head(20)

         pokemon1_name         pokemon2_name  usage_%
0           Incineroar             Rillaboom    13.40
1          Raging Bolt             Rillaboom     6.54
2             Tornadus             Rillaboom     8.33
3             Pelipper             Rillaboom     8.17
4            Chien Pao             Rillaboom     7.52
5           Incineroar  Urshifu Rapid Strike    13.40
6            Amoonguss  Urshifu Rapid Strike     7.35
7          Raging Bolt  Urshifu Rapid Strike     6.21
8             Tornadus  Urshifu Rapid Strike    10.62
9            Rillaboom  Urshifu Rapid Strike     8.99
10            Pelipper  Urshifu Rapid Strike     5.23
11          Incineroar           Calyrex Ice     8.17
12           Amoonguss           Calyrex Ice     7.19
13          Incineroar             Farigiraf     7.84
14            Miraidon             Farigiraf    10.62
15          Whimsicott             Farigiraf     9.31
16  Ursaluna Bloodmoon             Farigiraf     8.17
17          Incineroar          Flutter Mane     7.35
18           Amoonguss          Flutter Mane     7.52
19         Raging Bolt          Flutter Mane     8.33

In [35]:
final_2_mon_composition_df.sort_values(by = "usage_%", ascending = False).head(20)

         pokemon1_name         pokemon2_name  usage_%
0           Incineroar             Rillaboom    13.40
5           Incineroar  Urshifu Rapid Strike    13.40
27           Amoonguss            Incineroar    12.58
28         Raging Bolt            Incineroar    11.93
42            Miraidon            Whimsicott    11.76
14            Miraidon             Farigiraf    10.62
8             Tornadus  Urshifu Rapid Strike    10.62
20            Tornadus          Flutter Mane     9.48
30            Tornadus            Incineroar     9.48
15          Whimsicott             Farigiraf     9.31
9            Rillaboom  Urshifu Rapid Strike     8.99
21           Rillaboom          Flutter Mane     8.82
19         Raging Bolt          Flutter Mane     8.33
45           Rillaboom             Zamazenta     8.33
2             Tornadus             Rillaboom     8.33
38         Raging Bolt             Amoonguss     8.33
3             Pelipper             Rillaboom     8.17
16  Ursaluna Bloodmoon             Farigiraf     8.17
11          Incineroar           Calyrex Ice     8.17
22              Chi Yu          Flutter Mane     8.01

In [48]:
three_mon_combination_section = pd.DataFrame(data['composition']['combinations3'])
pokemon1_name3_df = three_mon_combination_section.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon1Id", right_on="id").rename(columns={'pokemon':'pokemon1_name'}).drop(['id_x', 'id_y'], axis=1)
pokemon2_name3_df = pokemon1_name3_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon2Id", right_on="id").rename(columns={'pokemon':'pokemon2_name'}).drop(['id'], axis=1)
pokemon3_name3_df = pokemon2_name3_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon3Id", right_on="id").rename(columns={'pokemon':'pokemon3_name'}).drop(['id'], axis=1)

In [49]:
pokemon3_name3_df.head(10)

,pokemon1Id,pokemon2Id,pokemon3Id,usage,pokemon1_name,pokemon2_name,pokemon3_name
0,1008,547,981,8.66%,Miraidon,Whimsicott,Farigiraf
1,1008,901-b,981,6.37%,Miraidon,Ursaluna Bloodmoon,Farigiraf
2,547,901-b,981,6.05%,Whimsicott,Ursaluna Bloodmoon,Farigiraf
3,727,901-b,981,4.25%,Incineroar,Ursaluna Bloodmoon,Farigiraf
4,1008,727,981,4.9%,Miraidon,Incineroar,Farigiraf
5,547,727,981,3.92%,Whimsicott,Incineroar,Farigiraf
6,1004,1008,981,3.43%,Chi Yu,Miraidon,Farigiraf
7,1008,547,901-b,6.86%,Miraidon,Whimsicott,Ursaluna Bloodmoon
8,1008,727,901-b,4.08%,Miraidon,Incineroar,Ursaluna Bloodmoon
9,547,727,901-b,4.25%,Whimsicott,Incineroar,Ursaluna Bloodmoon

In [50]:
pokemon3_name3_df = pokemon3_name3_df[["pokemon1_name","pokemon2_name", "pokemon3_name","usage"]].rename(columns={"usage":"usage_%"})

In [51]:
# Remove the '%' symbol and convert to float
pokemon3_name3_df["usage_%"] = pokemon3_name3_df["usage_%"].str.replace('%', '').astype(float)

In [52]:
pokemon3_name3_df.sort_values(by = "usage_%", ascending = False).head(20)

   pokemon1_name       pokemon2_name         pokemon3_name  usage_%
0       Miraidon          Whimsicott             Farigiraf     8.66
7       Miraidon          Whimsicott    Ursaluna Bloodmoon     6.86
11   Raging Bolt           Amoonguss            Incineroar     6.86
26     Amoonguss          Incineroar           Calyrex Ice     6.37
1       Miraidon  Ursaluna Bloodmoon             Farigiraf     6.37
2     Whimsicott  Ursaluna Bloodmoon             Farigiraf     6.05
47      Pelipper           Rillaboom             Zamazenta     5.88
23    Incineroar           Rillaboom  Urshifu Rapid Strike     5.72
34        Chi Yu            Tornadus          Flutter Mane     5.39
10      Miraidon          Whimsicott            Incineroar     5.39
19     Amoonguss          Incineroar  Urshifu Rapid Strike     5.23
48     Chien Pao           Rillaboom             Zamazenta     5.23
43        Chi Yu           Amoonguss              Tornadus     5.23
45        Chi Yu           Terapagos              Tornadus     5.07
49        Chi Yu           Terapagos             Amoonguss     5.07
37      Koraidon         Raging Bolt          Flutter Mane     4.90
4       Miraidon          Incineroar             Farigiraf     4.90
15      Miraidon           Farigiraf            Iron Hands     4.74
33     Amoonguss            Tornadus          Flutter Mane     4.74
14      Miraidon          Whimsicott            Iron Hands     4.74

In [58]:
four_mon_combination_section = pd.DataFrame(data['composition']['combinations4'])
pokemon1_name4_df = four_mon_combination_section.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon1Id", right_on="id").rename(columns={'pokemon':'pokemon1_name'}).drop(['id_x', 'id_y'], axis=1)
pokemon2_name4_df = pokemon1_name4_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon2Id", right_on="id").rename(columns={'pokemon':'pokemon2_name'}).drop(['id'], axis=1)
pokemon3_name4_df = pokemon2_name4_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon3Id", right_on="id").rename(columns={'pokemon':'pokemon3_name'}).drop(['id'], axis=1)
pokemon4_name4_df = pokemon3_name4_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon4Id", right_on="id").rename(columns={'pokemon':'pokemon4_name'}).drop(['id'], axis=1)

In [59]:
final_4_combinations_df = pokemon4_name4_df[["pokemon1_name","pokemon2_name", "pokemon3_name","pokemon4_name", "usage"]].rename(columns={"usage":"usage_%"})
final_4_combinations_df["usage_%"] = final_4_combinations_df["usage_%"].str.replace('%', '').astype(float)

In [60]:
final_4_combinations_df.sort_values(by = "usage_%", ascending = False).head(20)

,pokemon1_name,pokemon2_name,pokemon3_name,pokemon4_name,usage_%
0,Miraidon,Whimsicott,Ursaluna Bloodmoon,Farigiraf,6.05
47,Chi Yu,Terapagos,Amoonguss,Tornadus,4.41
10,Miraidon,Whimsicott,Farigiraf,Iron Hands,4.25
35,Chi Yu,Amoonguss,Tornadus,Flutter Mane,4.08
16,Miraidon,Whimsicott,Incineroar,Ursaluna Bloodmoon,4.08
33,Chi Yu,Terapagos,Tornadus,Flutter Mane,3.92
18,Raging Bolt,Amoonguss,Incineroar,Calyrex Ice,3.92
42,Chien Pao,Pelipper,Rillaboom,Zamazenta,3.92
5,Miraidon,Whimsicott,Incineroar,Farigiraf,3.92
39,Chi Yu,Terapagos,Amoonguss,Flutter Mane,3.76
3,Whimsicott,Incineroar,Ursaluna Bloodmoon,Farigiraf,3.59
2,Miraidon,Incineroar,Ursaluna Bloodmoon,Farigiraf,3.59
36,Terapagos,Amoonguss,Tornadus,Flutter Mane,3.43
15,Chi Yu,Miraidon,Whimsicott,Iron Hands,3.27
26,Raging Bolt,Amoonguss,Incineroar,Urshifu Rapid Strike,3.27
8,Chi Yu,Miraidon,Whimsicott,Farigiraf,3.27
14,Chi Yu,Miraidon,Farigiraf,Iron Hands,3.10
7,Miraidon,Ogerpon Cornerstone,Whimsicott,Farigiraf,3.10
19,Pelipper,Amoonguss,Incineroar,Calyrex Ice,2.94
11,Chi Yu,Whimsicott,Farigiraf,Iron Hands,2.94

In [69]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5433/postgres')
final_2_mon_composition_df.to_sql('la_regional_combo_two', engine, schema='pokemon')

In [ ]:
pokemon3_name3_df.to_sql('la_regional_combo_three', engine, schema='pokemon')

In [64]:
final_4_combinations_df.to_sql('la_regional_combo_four', engine, schema='pokemon')

In [68]:
final_la_df = labmaus_la_df[["id", "pokemon", "appearances", "usage", "win_rate", "placement", "rank"]].rename(columns={"usage":"usage_%", "win_rate":"win_rate_%"})
final_la_df["usage_%"] = final_la_df["usage_%"].str.replace('%', '').astype(float)
final_la_df["win_rate_%"] = final_la_df["win_rate_%"].str.replace('%', '').astype(float)
final_la_df.to_sql('la_regional_pokemon_usage', engine, schema='pokemon')

In [54]:
four_mon_combination_section = pd.DataFrame(data['composition']['combinations4'])

In [55]:
four_mon_combination_section.head(10)

   id pokemon1Id pokemon2Id pokemon3Id pokemon4Id  usage
0   1       1008        547      901-b        981  6.05%
1   1       1004       1024        591        641  4.41%
2   1       1008        547        981        992  4.25%
3   1       1008        547        727      901-b  4.08%
4   1       1004        591        641        987  4.08%
5   1       1021        591        727      898-i  3.92%
6   1       1008        547        727        981  3.92%
7   1       1002        279        812        889  3.92%
8   1       1004       1024        641        987  3.92%
9   1       1004       1024        591        987  3.76%

In [76]:
weakness_df = pd.read_csv("weakness_chart.csv").rename(columns = {"Types": "comparison_type", "Normal": "normal", "Fire": "fire", "Water":"water","Electric":"electric","Grass":"grass","Ice": "ice","Fighting":"fighting","Poison":"poison","Ground":"ground","Flying":"flying","Psychic":"psychic","Bug":"bug","Rock":"rock","Ghost":"ghost","Dragon":"dragon","Dark":"dark","Steel":"steel","Fairy":"fairy"})

In [77]:
weakness_df.to_sql('weakness_chart', engine, schema='pokemon',if_exists='replace')

In [78]:
team_combinations = pd.DataFrame(data['composition']['combinations6'])
pokemon1_name6_df = team_combinations.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon1Id", right_on="id").rename(columns={'pokemon':'pokemon1_name'}).drop(['id_x', 'id_y'], axis=1)
pokemon2_name6_df = pokemon1_name6_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon2Id", right_on="id").rename(columns={'pokemon':'pokemon2_name'}).drop(['id'], axis=1)
pokemon3_name6_df = pokemon2_name6_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon3Id", right_on="id").rename(columns={'pokemon':'pokemon3_name'}).drop(['id'], axis=1)
pokemon4_name6_df = pokemon3_name6_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon4Id", right_on="id").rename(columns={'pokemon':'pokemon4_name'}).drop(['id'], axis=1)
pokemon5_name6_df = pokemon4_name6_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon5Id", right_on="id").rename(columns={'pokemon':'pokemon5_name'}).drop(['id'], axis=1)
pokemon6_name6_df = pokemon5_name6_df.merge(labmaus_la_df[["id", "pokemon"]], left_on="pokemon6Id", right_on="id").rename(columns={'pokemon':'pokemon6_name'}).drop(['id'], axis=1)

In [79]:
final_6_combinations_df = pokemon6_name6_df[["pokemon1_name","pokemon2_name", "pokemon3_name","pokemon4_name", "pokemon5_name", "pokemon6_name","usage"]].rename(columns={"usage":"usage_%"})
final_6_combinations_df["usage_%"] = final_6_combinations_df["usage_%"].str.replace('%', '').astype(float)

In [83]:
final_6_combinations_df.sort_values(by = "usage_%", ascending = False).head(10)

,pokemon1_name,pokemon2_name,pokemon3_name,pokemon4_name,pokemon5_name,pokemon6_name,usage_%
0,Chi Yu,Ogerpon Cornerstone,Terapagos,Amoonguss,Tornadus,Flutter Mane,2.12
23,Miraidon,Ogerpon Cornerstone,Whimsicott,Incineroar,Ursaluna Bloodmoon,Farigiraf,1.96
17,Raging Bolt,Pelipper,Amoonguss,Incineroar,Urshifu Rapid Strike,Calyrex Ice,1.80
15,Gholdengo,Koraidon,Walking Wake,Tornadus,Incineroar,Rillaboom,1.31
10,Chien Pao,Ogerpon Hearthflame,Pelipper,Rillaboom,Zamazenta,Flutter Mane,1.14
35,Chi Yu,Miraidon,Whimsicott,Ursaluna Bloodmoon,Farigiraf,Iron Hands,1.14
19,Gholdengo,Raging Bolt,Amoonguss,Incineroar,Urshifu Single Strike,Calyrex Ice,1.14
40,Ogerpon Hearthflame,Terapagos,Whimsicott,Indeedee,Urshifu Rapid Strike,Regidrago,0.82
29,Gholdengo,Chien Pao,Kyogre,Tornadus,Tsareena,Urshifu Rapid Strike,0.65
38,Chi Yu,Miraidon,Whimsicott,Farigiraf,Iron Bundle,Iron Hands,0.65